

body {
	color: #40514e;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}
a {
	color: #11999e;
	font-family: 'Montserrat',sans-serif;
	margin:10px 20px;
	text-decoration: none;
}
a:hover {
 color: #eaf6f6;

}
	
h1{
	font-size: 3.125rem;
	margin-top: 0;
	font-family: 'Sacramento', cursive;
	line-height: normal;
	color: #66bfbf;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.875rem;
	color: #66bfbf;
	padding-bottom: 10px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color:#11999e;
}

p {
	line-height: 2;
}
hr {
	border:dotted #eaf6f6 6px;
	border-bottom :none;
	width: 5%;
	margin:100px auto;
}

.pro {
		text-decoration:underline; 
		font-weight: normal;
}

.intro {
	width: 30%;
	margin:auto;
}
.contact-message {
	width:  40%;
	margin: 40px auto 60px ;
}

.top-container {
	background-color: #e4f9f5;
	position: relative;
	padding-top: 100px;
	
}
.middle-container {
	margin: 100px 0;
}

.bottom-container {
	background-color: #66bfbf;
	padding: 50px 0 50px; 
}
.top-cloud {
	position: relative;
	left: 350px;
	bottom: 70px;
} 
.bottom-cloud {
	position: absolute;
	left: 2px;
	top: 320px;
	
}
.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.eugenius-moi{
	border-radius: 90%;
	padding-top: 10px;
}
.mountain {
	width: 100%;

}

.footer-link {
	
}
.copy-right{
	color: #eaf6f6;
	font-size: .75rem;
	padding: 0 20px;
}
.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat',sans-serif;
	font-size:20px;
	font-weight:bold;
	margin: 10px auto 50px auto;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

        
.coder-img {
	width: 25%;
	border-radius: 20%;
	float: left;
	margin-right: 30px;
}

.tkd-img {
width: 25%;
border-radius: 90%;
float: right;
margin-left: 30px;

}
